/*navbar*/


.navbar{
    background-color: rgb(236, 236, 236);
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 80px;/*
    width: 200px;
    padding-left: 20px;*/
}
.desktopMenuListItem {
    margin:1rem;
    cursor: pointer;
    font-size: 30px;
}
.desktopMenuListItem:hover { /* Quand passe la souris par dessus, change de couleur */
    color: rgb(110, 178, 255);
    padding-bottom: 0.5rem;

}
a{
    color: rgb(0, 0, 0); /* Couleur du texte */
    font-family: fantasy;
    text-decoration: none; /* Supprimer le soulignement par défaut */
    background-color: transparent; 
    padding-right: 20px;
}

p{
    font-size: 2.5vh;
    color: rgb(128, 255, 111);
    padding-right: 15px;
}
.pastille {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}
h1{
    text-align: center; 
    margin-top: 25px; 
    font-family: "Gill Sans Extrabold", sans-serif;

}

/*-------------autre----------------*/

input{
    background-color: rgb(235, 235, 235);
    border-style: none;
}
body{ /*fond de couleur*/
    /*background-image: "../images/ciel-etoile.jpg";*/
    background-color: #001e4d;
    margin: 0;
    padding: 0;
    /*background-attachment : fixed ;*/
}
.center-container { /*pour centrer le nom du quizz*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.nom_quizz{
    width: 20%;
}
.container { /*page blanche qui contient tout*/
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px black;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(224, 227, 255);
}
.ajout{
    padding-bottom: 200px;
}
.question label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.question input[type="text"] { /*faire que les champs ne prennent pas l'entiereté du container*/
    width: 96%; /*qu'elles prennent juste 96% de la div container*/
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(255, 238, 215);
}

.question select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.question .reponses {
    margin-left: 20px; /*decaller les reponses de 20 px*/
    padding-top: 20px; /*separer les réponses des questions de 20 px en hauteur*/
}



.ajouter-reponse:hover { /*quand on met la souris sur le bouton cela change la couleur de ce dernier*/
    background-color: #feffab;
}

#ajouter-question { /*bouton ajouter question*/
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #000000;
   
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #6958ff;
    
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    
}

#ajouter-question:hover { /*ombre du bouton ajouter question*/
    background-color: #001e4d;
   
    color: #ffffff;
}
input[type="radio"] {
    margin-bottom: 10px;
}

input[type="submit"] { /*bouton enregistrer*/
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #6958ff;/*couleur par defaut du bouton*/
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover { /*quand on passe la souris sur le bouton cela l'assombri*/
    background-color: #001e4d;
}
.points_question{ /*reduire la taille des points */
    height: 25px;
    background-color: rgb(255, 238, 215);
}
.correction{
    display: flex;
}
@media screen and (max-width:500px){
    .logo{
        display: none;
    }
    .desktopMenuListItem {
        margin: 20px;
    }
}