/*----navbar------*/


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #001e4d;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.titre {
    text-align: justify;

}
.entete{
    margin-top: 30px;
   /*display: flex;*/
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    width: 250px;
    height: auto;
    float : right;
  
    
}
.logodiv{
    width: 100%;

}

/*------------------reste---------------*/
.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
    background-color: #fff6cd;
    padding: 5px;
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
input.soumettre {
    margin-top: 65px;
}
.chrono {
    display: flex;
    justify-content: center;
}
 
.time{
    font-size: 48px;
    margin: 0 10px;
    margin-top: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    animation: fadeIn 1s forwards;
    opacity: 0;
}
 
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
 
.time:nth-child(1) {
    animation-delay: 0.5s;
}
 
.time:nth-child(2) {
    animation-delay: 1s;
}
 
.time:nth-child(3) {
    animation-delay: 1.5s;
} 