body {
    font-family: Arial, sans-serif;
    background-color: #001e4d;
    margin: 0;
    padding: 0;
}

header {
    background-color: #001e4d;
    color: #fff;
    padding: 20px;
}

.navbar{
    background-color: rgb(255, 255, 255);
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 80px;
}


a{
    color: rgb(0, 0, 0); /* Couleur du texte */
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; /* Supprimer le soulignement par défaut */
    background-color: transparent; 
    padding-right: 20px;
    font-size: 25px;
    transition: color 0.3s ease; 
}

a:hover {
    color: rgb(110, 178, 255);
}

p {
    font-size: 20px;
}

main {
    padding: 20px;
}

article {
    background-color: #fff;
    padding: 20px;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}


h2 {
    color: #333;
    font-size: 40px;
}

h1 {
    color: white;
    font-size: 60px;
    text-align: center;
}  

.bleug {
    animation: flameAnimation 1.5s infinite;
}

footer {
    background-color: #001e4d;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.ftr {
    animation: flameAnimation 1.5s infinite;
}

@keyframes flameAnimation {
    0% {
        text-shadow: 0 0 20px #cccccc, 0 0 30px #888888, 0 0 40px #cccccc, 0 0 50px #cccccc, 0 0 60px #cccccc, 0 0 70px #cccccc, 0 0 80px #cccccc;
    }
    50% {
        text-shadow: 0 0 20px #cccccc, 0 0 40px #cccccc, 0 0 60px #cccccc, 0 0 80px #cccccc, 0 0 100px #cccccc, 0 0 120px #cccccc, 0 0 140px #cccccc;
    }
    100% {
        text-shadow: 0 0 20px #cccccc, 0 0 30px #cccccc, 0 0 40px #cccccc, 0 0 50px #cccccc, 0 0 60px #cccccc, 0 0 70px #cccccc, 0 0 80px #cccccc;
    }
}