
body {
    background-color: #001e4d;
}
.container{
    border-radius: 20px;
    width: 80%;
    margin: 50px auto;
}
.card{
    background-color: rgb(224, 227, 255);
    border: none;
}
.description{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
    background-color: rgb(255, 238, 215);
    
}
.description_quizz{
    height: 80px;
}
th {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(224, 227, 255);
    width: 20%;
    align-items: center;
    justify-content: center;
}

tr {
    background-color: rgb(255, 238, 215);
}

form{
    display: block;
}
button {
    border: none;
    height: 20px;
    width: 80px;
    background-color: rgb(122, 255, 162);
    margin-top: 30px;
}
button.jouer {
    background-color: rgb(122, 255, 162);
    transition: background-color 0.2s;
}
button.jouer:hover {
    background-color: rgb(208, 255, 214);
}

.card{
    width: 180px;
    height: 180px;
}
@media screen and (max-width:800px){
    .logo{
        display: none;
    }
}
.formurl {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.formurl input[type="text"] {
    width: 70%;
}

.formurl button[type="submit"] {
    margin-left: 10px; /* Marge à gauche pour séparer le bouton de la barre de recherche */
}
.boutonurl{
    background-color: rgb(220, 220, 220);
    /*display: flex;*/
    margin-top: 0px;
}
.url{
    margin-bottom: 0px;
    margin-top: 10px;
}
